body {
   font-family: 'Open Sans', sans-serif;
   color: #fff;
   font-size: 16px;
   line-height: 1.42;
   background: #17191C;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

a {
   color: inherit;
}

ul {
   margin: 0;
   padding: 0;
}

p {
   margin-top: 0;
}

ul li {
   list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-weight: normal;
}

.wrapper--page {
   background: url(img/hero.png) center top no-repeat, url(img/bottom-pic.png) center bottom no-repeat;
}

.container {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   width: 1142px;
}

.container--colomn {
   flex-direction: column;
   align-items: center;
}

.button {
   font-size: 14px;
   background: #FF5500;
   border-radius: 35px;
   padding: 18px 54px;
   text-transform: uppercase;
   font-weight: bold;
   text-decoration: none;
}

.button:hover {
   background: #FF3D00;
}

.container--noflex {
   display: block;
}

/*------------header-------------*/

.header {
   padding: 21px;
}

.menu__list {
   display: flex;
   justify-content: space-between;
   min-width: 265px;
   padding: 18px;
}

.menu__item--active .menu__link {
   color: #FF3D00;
}

.menu__link {
   font-size: 14px;
   text-decoration: none;
}

.menu__link:hover {
   color: #FF3D00;
}

.contacts {
   font-style: normal;
   text-align: right;
   padding: 4px 0;
}

.contact__phone {
   text-decoration: none;
   font-size: 26px;
}

.contacts__workhours {
   font-size: 13px;
   text-decoration: underline;
   color: #FF3D00;
}

/*------------hello------------*/
.hello {
   min-height: 333px;
   padding: 123px;
}

.hello__title {
   font-size: 72px;
   font-weight: 800;
   line-height: 1.4;
   text-align: center;
}

.hello__text {
   font-size: 18px;
   padding-bottom: 40px;
   padding: 15px 15px 40px;
}

/*------------preview------------*/
.preview {
   padding: 110px 0 0 0;
}

.preview__list {
   display: flex;
   justify-content: space-between;
}

.preview__item {
   width: 362px;
   min-height: 476px;
   background: #FFFFFF;
   border-radius: 5px;
}

.preview__item:hover {
   box-sizing: border-box;
   border: 5px solid #CCCCCC;
}

.preview__item .button {
   border: 3px solid #FF3D00;
   background: #fff;
}

.preview__item .button:hover {
   background: #FF3D00;
   padding: 18px 55px;
   border: none;
   color: #fff;
}

.preview__pic {
   height: 80px;
   width: 84px;
   padding: 36px 27px 25px;
}

.features {
   color: #000;
   padding: 0px 20px;
}

.features__title {
   font-size: 32px;
   font-weight: bold;

}

.features__list {
   display: flex;
   justify-content: space-between;
   font-size: 16px;
   padding: 13px 0px;
}

.features__text {
   font-size: 14px;
   padding: 13px 0px 50px;
}

/*------------news-------------*/
.section__title {
   font-weight: 800;
   font-size: 36px;
   text-transform: uppercase;
   padding: 180px 0 50px;
}

.news__list {
   margin-bottom: 50px;
}

.news__item {
   position: relative;
   display: inline-block;
   vertical-align: top;
   width: 557px;
   min-height: 394px;
   margin-right: 21px;
}

.news__item:last-child {
   margin-right: 0;
}

.news__pic {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.news__content {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 10px 30px;
   min-height: 130px;
}

.news__date {
   font-size: 14px;
   margin-bottom: 13px;
}

.news__title {
   font-size: 24px;
   margin-bottom: 5px;
   font-weight: 700;
}

.news__text {
   font-size: 16px;
   font-weight: 400;
}

/*------------pagination-------------*/
.pagination {
   text-align: center;
   margin-bottom: 150px;
}

.pagination__info,
.pagination__list {
   display: inline-block;
   vertical-align: middle;
}

.pagination__info {
   margin-right: 22px;
}

.pagination__item {
   display: inline-block;
   vertical-align: middle;
}

.pagination__link {
   display: block;
   height: 32px;
   width: 32px;
   border-radius: 50%;
   text-decoration: none;
   font-weight: bold;
   line-height: 32px;
}

.pagination__link:hover {
   background: #FF5500;
}

.pagination__item--active .pagination__link {
   background: #FF5500;
}

/*------------about-------------*/
.about__content:before {
   content: "";
   display: inline-block;
   vertical-align: top;
   height: 505px;
   width: 490px;
   background: url(img/cameraman.png) center center / cover no-repeat;
}

.about__desc {
   display: inline-block;
   vertical-align: top;
   background: #fff;
   color: #000;
   padding: 70px 80px;
   width: 625px;
   margin-left: -141px;
   margin-top: 98px;
   border-radius: 5px;
}

.about__title {
   font-size: 36px;
   font-weight: bold;
   margin-bottom: 36px;
}

.about__text {
   margin-bottom: 61px;
}

.about__text p {
   margin-bottom: 20px;
}

.about__text p:last-child {
   margin-bottom: 0;
}

.about__desc .button {
   margin: 0;
   padding: 18px 40px;
   color: #FFF;

}

/*------------footer-------------*/
.footer {
   padding: 50px 0 0 0;
}

.social__icon {
   display: flex;
   justify-content: space-between;
   min-width: 174px;

}

.social__icon__item {
   opacity: 0.55;
}

.social__icon__item:hover {
   opacity: 1;
}

.footer__text {
   font-size: 11px;
}