.about__content:before {
   content: "";
   display: inline-block;
   vertical-align: top;
   height: 505px;
   width: 490px;
   background: url(../../img/cameraman.png) center center / cover no-repeat;
}

.about__desc {
   display: inline-block;
   vertical-align: top;
   background: #fff;
   color: #000;
   padding: 70px 80px;
   width: 625px;
   margin-left: -141px;
   margin-top: 98px;
   border-radius: 5px;
}

.about__title {
   font-size: 36px;
   font-weight: bold;
   margin-bottom: 36px;
}

.about__text {
   margin-bottom: 61px;
}

.about__text p {
   margin-bottom: 20px;
   line-height: 27px;
}

.about__text p:last-child {
   margin-bottom: 0;
}

.about__desc .button {
   margin: 0;
   padding: 18px 40px;
   color: #FFF;

}