body {
   background: #17191C;
   -webkit-font-smoothing: antialiased;
   -moz-osx-font-smoothing: grayscale;
}

a {
   color: inherit;
}

ul {
   margin: 0;
   padding: 0;
}

p {
   margin-top: 0;
}

ul li {
   list-style: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
   margin: 0;
   font-weight: normal;
}

.wrapper--page {
   background: url(../../img/hero.png) center top no-repeat, url(../../img/bottom-pic.png) center bottom no-repeat;
}

.container {
   display: flex;
   justify-content: space-between;
   margin: 0 auto;
   width: 1142px;
}

.container--colomn {
   flex-direction: column;
   align-items: center;
}

.container--noflex {
   display: block;
}

.button {
   font-size: 14px;
   background: #FF5500;
   border-radius: 35px;
   padding: 16px 53px;
   text-transform: uppercase;
   font-weight: bold;
   text-decoration: none;
}

.button:hover {
   background: #FF3D00;
}