.header {
   padding: 21px;
}

.menu__list {
   display: flex;
   justify-content: space-between;
   min-width: 265px;
   padding: 18px;
}

.menu__item--active .menu__link {
   color: #FF3D00;
}

.menu__link {
   font-size: 14px;
   text-decoration: none;
}

.menu__link:hover {
   color: #FF3D00;
   transition: 0.5s;
}

.contacts {
   font-style: normal;
   text-align: right;
}

.contact__phone {
   text-decoration: none;
   font-size: 26px;
}

.contacts__workhours {
   font-size: 13px;
   text-decoration: underline;
   color: #FF3D00;
}

.dropdown__workhours {
   position: relative;
}

.dropdown__workhours:hover .dropdown__menu {
   display: block;
}

.dropdown__menu {
   position: absolute;
   width: 157px;
   height: 69px;
   border-radius: 4px;
   background: #FFF;
   opacity: 0.8;
   top: 150%;
   left: 17%;
   display: none;

}

.dropdown__list {
   display: flex;
   flex-direction: column;
   align-items: center;
   padding: 14px;
   font-weight: 700;
   font-size: 13px;
   line-height: 21px;
   color: #000;
}

.dropdown__item:last-child {
   font-weight: 600;
}

.triangle {
   position: absolute;
   top: 5px;
   left: 124px;
   opacity: 0.8;
   border: 11px solid transparent;
   width: 0px;
   height: 0px;
   border-bottom-color: #fff;
   display: none;
}

.dropdown__workhours:hover .triangle {
   display: block;
}