.section__title {
   font-weight: 800;
   font-size: 36px;
   text-transform: uppercase;
   padding: 178px 0 50px;
}

.news__list {
   margin-bottom: 50px;
}

.news__item {
   position: relative;
   display: inline-block;
   vertical-align: top;
   width: 557px;
   min-height: 394px;
   margin-right: 21px;
}

.news__item:last-child {
   margin-right: 0;
}

.news__pic {
   display: block;
   width: 100%;
   height: 100%;
   object-fit: cover;
}

.news__content {
   position: absolute;
   left: 0;
   right: 0;
   bottom: 0;
   padding: 10px 30px;
   min-height: 130px;
}

.news__date {
   font-size: 14px;
   margin-bottom: 13px;
}

.news__title {
   font-size: 24px;
   margin-bottom: 5px;
   font-weight: 700;
}

.news__text {
   font-size: 16px;
   font-weight: 400;
}