.preview {
   padding: 110px 0 0 0;
}

.preview__list {
   display: flex;
   justify-content: space-between;
}

.preview__item {
   width: 362px;
   min-height: 476px;
   background: #FFFFFF;
   box-sizing: border-box;
   border-radius: 5px;
   border: 5px solid transparent;
}

.preview__item:hover {
   border: 5px solid#CCCCCC;
}

.preview__item .button {
   border: 2px solid #FF3D00;
   background: #fff;
   color: #FF3D00;
}

.preview__item .button:hover {
   background: #FF3D00;
   padding: 16px 54px;
   border: 2px solid #FF3D00 transparent;
   color: #fff;
}

.preview__pic {
   height: 80px;
   width: 84px;
   padding: 29px 23px 23px;
}

.features {
   color: #000;
   padding: 0px 16px;
}

.features__title {
   font-size: 32px;
   font-weight: bold;

}

.features__list {
   display: flex;
   justify-content: space-between;
   font-size: 16px;
   padding: 16px 0px;
}

.features__text {
   font-size: 14px;
   padding: 13px 0px 50px;
}