.hello {
   min-height: 333px;
   padding: 127px 0px;
}

.hello__title {
   font-size: 72px;
   font-weight: 800;
   line-height: 1.4;
   text-align: center;
}

.hello__text {
   font-size: 18px;
   padding: 15px 0 42px;
}