.header {
   padding: 21px;
}

.menu__list {
   display: flex;
   justify-content: space-between;
   min-width: 265px;
   padding: 18px;
}

.menu__item--active .menu__link {
   color: #FF3D00;
}

.menu__link {
   font-size: 14px;
   text-decoration: none;
}

.menu__link:hover {
   color: #FF3D00;
   transition: 0.5s;
}

.contacts {
   font-style: normal;
   text-align: right;
}

.contact__phone {
   text-decoration: none;
   font-size: 26px;
}

.contacts__workhours {
   font-size: 13px;
   text-decoration: underline;
   color: #FF3D00;
}