.offer__img {
   height: 333px;
   width: 460px;
}

.card__title {
   font-weight: bold;
   font-size: 36px;
   line-height: 49px;
}

.offer__card {
   display: flex;
   color: #000;
   padding: 50px 0 64px;
}

.offer__card:first-child {
   padding: 93px 0 0 0;
}

.offer__content {
   display: flex;
   flex-direction: column;
   justify-content: space-between;
   align-items: flex-start;
   padding: 13px 0 17px 57px;
}

.offer__content .button {
   border: 2px solid #FF3D00;
   background: #fff;
   color: #FF3D00;
}

.offer__content .button:hover {
   background: #FF3D00;
   padding: 16px 53px;
   border: 2px solid #FF3D00 transparent;
   color: #fff;
}