.hello__title {
   font-size: 72px;
   font-weight: 800;
   line-height: 1.4;
   padding: 85px 0;
   text-transform: uppercase;
}

.hello__text {
   font-size: 14px;
   font-weight: 400;
   line-height: 1.4;
   padding: 0 0 25px 0;
}