.pagination {
   color: #000;
   text-align: center;
   margin-bottom: 86px;
}

.pagination__info,
.pagination__list {
   display: inline-block;
   vertical-align: middle;
}

.pagination__info {
   margin-right: 22px;
   font-weight: 400;
}

.pagination__item {
   display: inline-block;
   vertical-align: middle;
}

.pagination__link {
   display: block;
   height: 32px;
   width: 32px;
   border-radius: 50%;
   text-decoration: none;
   font-weight: bold;
   line-height: 32px;
}

.pagination__link:hover {
   background: #FF5500;
   transition: 0.5s;
}

.pagination__item--active .pagination__link {
   background: #FF5500;
}